@import "tailwindcss";
:root {
    --primary: #6b65e1;
    --bg: #f7f3f7;
    --dark: #1b1321;
    --accent1: #ca4ef8;
    --accent2: #ee90f9;
    --text-dark: #2e2e2e;
    --text-light: #ffffff;
  }

/* .container-color{
    background: radial-gradient(circle at 50% 100%, #f7f3f7 5% ,#ee90f9 , #ca4ef8 40%, #6b65e1 100%);
    background-color: linear-gradient();
} */
.universal {
    @apply bg-[#0f0c29] text-white min-h-screen;
  }
.border-color{
  border-color: #322d5e;
}